[Desktop Entry]
Value=1.0
Encoding=UTF-8
Type=Application
Name=ToggleSuspend
GenericName=acpi-eeepc-generic toggle suspend
Comment=Disable or enable suspension prevention
Icon=eee.png
Exec=/etc/acpi/eeepc/acpi-eeepc-generic-toggle-lock-suspend.sh
Categories=Settings;EeePC;
StartupNotify=false
Terminal=false
