[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=/etc/acpi/eeepc/acpi-eeepc-generic-toggle-GENERIC.sh
Name=EeePC toggle: GENERIC
Comment=EeePC toggle: GENERIC
Icon=eee.png
Categories=Settings;HardwareSettings;EeePC
